    <!-- Dashboard Page  -->
    <div class="container-fluid">
      <div class="row">

        <!-- Sidebar Element  -->
        <nav id="dashboard-sidebar" class="col-md-2 sidebar sidebar-color defaultPos">
          <div class="sidebar-sticky" style="position:fixed;">
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-white">Dashboard</h6>
            <ul class="nav flex-column">
              <%= link_to dashboard_path(@company.id), class:"underline-none" do %>
                <li class="nav-item mt-4 mb-4 sidebarNavLinks">
                  <i class="fas fa-file-video mr-3 text-warning"></i>Face Analysis
                </li>
              <% end %>
              <%= link_to audio_index_path(company_id: @company.id, id:current_user.id), class:"underline-none" do %>
                <li class="nav-item mb-4 sidebarNavLinks">
                  <i class="fas fa-file-audio mr-3 text-danger"></i>Speech Analysis
                </li>
              <% end %>
              <%= link_to text_analyze_path(company_id: @company.id, id:current_user.id), class:"underline-none" do %>
                <li class="nav-item mb-4 sidebarNavLinks">
                  <i class="fas fa-font mr-3 text-success"></i>Text Analysis
                </li>
              <% end %>
              <li class="nav-item mb-4 sidebarNavLinks"><i class="fas fa-user-tie mr-3 text-primary"></i>Some other stuff</li>
              <li class="nav-item mb-4 sidebarNavLinks"><i class="fas fa-superscript mr-3 text-info"></i>Wow Another Link</li>
            </ul>
            <!-- <input id="hide-sidebar-btn" class="btn btn-warning mt-3 rounded-circle" type="button" value="<" onclick="toggleNav();"> -->
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-white">Saved Reports</h6>
            <ul class="nav flex-column">
              <li class="nav-item mt-4 mb-4 sidebarNavLinks"><i class="fas fa-file-alt mr-3"></i>This Week</li>
              <li class="nav-item mb-4 sidebarNavLinks"><i class="fas fa-file-alt mr-3"></i>Current Month</li>
              <li class="nav-item mb-4 sidebarNavLinks"><i class="fas fa-file-alt mr-3"></i>Last Quarter</li>
              <li class="nav-item mb-4 sidebarNavLinks"><i class="fas fa-file-alt mr-3"></i>Last Year </li>
            </ul>
          </div>
        </nav>

        <!-- Chart Section                                        style="left: 15px; -->
        <div id="dashboard-main" class="col-md-8 p-0 w-100 d-main-bg">
          <nav class="customnav navbar navbar-expand-lg navbar-dark sticky-top bg-white border-bottom border-muted" style="height: 45px;">
            <a class="navbar-brand text-dark" href="/"><i class="fas fa-brain mr-1"></i>Empath</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">

              <%#= form_with url: search_companies_path, local: true, class:'form-inline my-2 my-lg-0' , :method => 'post', id: "search-companies"  do |form| %>
                <%#= form.text_field :searchcompany, class: "form-control mr-sm-2", style:"height:20px;", list: 'list' %>
                <%#= form.submit "search", class:"btn btn-outline-success btn-sm my-2 my-sm-0" %>
                <!-- <datalist id="list"></datalist> -->
              <%# end %>

              <div class="navbar-links">
                <ul class="navbar-nav mr-auto">
                  <!-- <li class="nav-item"> -->
                    <%#= link_to "Profile", user_path(current_user.id), class: "nav-link mr-3" %>
                  <!-- </li> -->
                  <li class="nav-item">
                    <%= link_to "How it Works", nil, class: "nav-link  mr-3" %>
                  </li>
                  <!-- <li class="nav-item border-dark">
                    <%#= link_to "Facial Expression", video_path, class: "nav-link  mr-3" %>
                  </li>
                  <li class="nav-item">
                    <%#= link_to "Speech", index_path, class: "nav-link mr-3" %>
                  </li>
                  <li class="nav-item">
                    <%#= link_to "Text", index_path, class: "nav-link mr-3" %>
                  </li>
                  <li class="nav-item"> -->
                    <%= link_to "Pricing", braintree_pricing_path, class: "nav-link mr-3" %>
                  </li>
                  <% if signed_in? -%>
                    <% if signed_in? && current_user.position == 'manager'  && current_user.company_id == nil%>
                    <li class="nav-item">
                      <%= link_to "Add Company", new_company_path, class: "nav-link mr-3" %>
                    </li>
                    <% end %>
                  <% end %>
                  <li class="nav-item">
                    <%= link_to "Dashboard", dashboard_path, class: "nav-link mr-3" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "Profile", user_path(current_user.id), class: "nav-link mr-3" %>
                  </li>
                  <li class="nav-item btn-group" data-behavior='notifications'>
                     <a class="dropdown-toggle nav-link" type="button" data-behavior='notifications-link' id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       <i class="fas fa-flag text-danger"></i>
                       <span data-behavior='unread-count'></span>
                     </a>
                     <div class="dropdown-menu dropdown-to" aria-labelledby="dropdownMenuButton" data-behavior="notification-items"></div>
                 </li>
                  <li class="nav-item">
                    <% if signed_in? -%>
                    <%= link_to t(".sign_out"), sign_out_path, method: :delete, class:"nav-link" %>
                    <% else -%>
                    <%= link_to t(".sign_in"), sign_in_path, class:"nav-link" %>
                    <% end -%>
                  </li>
                </ul>
              </div>

            </div>
          </nav>

          <div class="container-fluid mb-4 border-bottom border-muted">
            <div class="row">
              <div class="col-md-6 container mt-3">
                <h3>Dashboard</h3>
                <h4><i class="fas fa-user-tie mr-2 text-primary"></i>William Smith: <em>Company Name</em></h4>
              </div>
              <div class="col-md-6 container mt-4">
                <button class="btn btn-outline-primary btn-sm mr-2 mt-3" type="button" name="button" style="float: right;">View Profile</button>
              </div>
            </div>
          </div>



          <div class="container-fluid">

            <div class="row">

              <div class="col-md-6 pr-2">
                <div class="container-white mt-3 mb-3 border-right border-muted shadow p-3" style="height: 400px;">
                  <h3>Text Input</h3>
                  <%= form_with(model: @text, remote: true, url: text_upload_path(current_user)) do |form| %>
                    <%= form.text_area :text, placeholder:'Paste your text for analysis here. Please submit at least one sentence.', cols:"70", rows:"10", class:"form-control border border-muted mb-3" %>
                    <%= form.submit "Analyze", class:"btn btn-danger" %>
                  <% end %>
                </div>
              </div>

              <div class="col-md-6 pl-2">
                <div class="container-white mt-3 mb-3 p-0 shadow" style="height: 400px;">
                  <h3 class="p-3">Analysis Summary</h3>
                  <!-- <canvas id="myPie" width="300" height="300"></canvas> -->
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12" style="height:500px;">
                <div class="p-3 d-main-bg shadow">
                  <h3 class="mb-5">Text Output:</h3>
                  <% @texts.each_with_index do |text,index| %>
                   <%=index+1%>. <%=text.text%></p><hr>
                  <% end %>
                  <h3 class="mt-5">Sentiment Analysis:</h3><br>

                  <%if @texts.last == nil%>
                  <%elsif @document_tone == nil%>
                  <%else%>
                      <% @document_tone.each do |obj| %>
                          <% obj.each do |key, value| %>
                              <% if key == "text"  %>
                                  <strong>Sentence:</strong> <%= value %><br>
                              <% elsif key == "tones"%>
                                  <% if value.empty?%>
                                  <strong>Emotion:</strong> <%= "Neutral" %><hr>
                                  <% end %>
                                  <% next if value.empty? %>
                                  <% value[0].each do |key, value| %>
                                  <% if key == "score" %>
                                   <strong>Emotion:</strong> <%= ((value*100).to_f).round(2) %>%
                                  <% elsif key == "tone_name" %>
                                      <%= value %><hr>
                                  <% end %>
                              <% end %>
                          <% end %>
                          <% end %>
                      <% end %>
                  <% end %>
                </div>
              </div>
            </div>

          </div>

        </div>
        <!-- Right Sidebar Loop through employees and display them for that specific company -->
        <div class="col-md-2 sidebar d-main-bg border-left border-muted pl-0 pr-0">
          <h6 class="sidebar-heading text-muted px-3 mt-4 mb-4">Employees</h6>
          <hr class="my-3">
        </div>

        <!-- JS starts here -->
        <script type="text/javascript">
        // Add turbolinks so it initializes when page loads.

        // let canvas = document.getElementById('myChart');
        // let ctx = canvas.getContext('2d');

        // let pie = document.getElementById('myPie');
        // let ctx2 = canvas.getContext('2d');
        // let myChart = document.getElementById('myChart').getContext('2d');

        // Global Options ------------------------------------------
        // bar, pie, line, horizontalBar, doughnut, radar, polarArea

        // Chart.defaults.global.defaultFontFamily = 'Lato';
        // Chart.defaults.global.defaultFontSize = '14';
        // Charts.defaults.global.defaultFontColor = '#000';

        // Hard-coded test data
      //   var data = {
      //     labels: ['5', '10', '15', '20', '25', '30', '35', '40', '45', '50', '55', '60'],
      //     datasets: [{
      //       label: "Happiness",
      //       lineTension: 0.5,
      //       borderWidth: 2,
      //       borderColor: 'yellow',
      //       backgroundColor: 'rgba(240,243,57,0.1)',
      //       data: [65, 99, 32, 33, 45, 40, 50, 50, 50, 73, 10, 50],
      //     }, {
      //       label: "Sadness",
      //       lineTension: 0.5,
      //       borderWidth: 2.33,
      //       borderColor: 'cornflowerblue',
      //       backgroundColor: 'rgba(39,128,231,0.1)',
      //       data: [32, 33, 34, 46, 55, 40, 20, 50, 60, 30, 20, 10],
      //     }, {
      //       label: "Anger",
      //       lineTension: 0.5,
      //       borderWidth: 2.33,
      //       borderColor: 'red',
      //       backgroundColor: 'rgba(250,0,0,0.1)',
      //       data: [60, 25, 64, 46, 55, 30, 20, 40, 20, 30, 20, 10],
      //     }, {
      //       label: "Contempt",
      //       lineTension: 0.5,
      //       borderWidth: 2.33,
      //       borderColor: 'green',
      //       backgroundColor: 'rgba(0,240,0,0.1)',
      //       data: [32, 33, 64, 46, 36, 30, 74, 40, 20, 30, 20, 13],
      //     }, {
      //       label: "Disgust",
      //       lineTension: 0.5,
      //       borderWidth: 2.33,
      //       borderColor: 'purple',
      //       backgroundColor: 'rgba(110,25,151,0.1)',
      //       data: [32, 33, 64, 46, 55, 30, 20, 40, 36, 30, 22, 15],
      //     }, {
      //       label: "Fear",
      //       lineTension: 0.5,
      //       borderWidth: 2.33,
      //       borderColor: 'pink',
      //       backgroundColor: 'rgba(218,29,235,0.1)',
      //       data: [32, 33, 64, 46, 32, 30, 30, 41, 12, 10, 20, 12],
      //     }, {
      //       label: "Surprise",
      //       lineTension: 0.5,
      //       borderWidth: 2.33,
      //       borderColor: 'orange',
      //       backgroundColor: 'rgba(235,160,30,0.1)',
      //       data: [32, 33, 64, 46, 55, 50, 20, 43, 20, 30, 20, 10],
      //     }, {
      //       label: "Neutral",
      //       lineTension: 0.5,
      //       borderWidth: 2.33,
      //       borderColor: 'grey',
      //       backgroundColor: 'rgba(155,155,155,0.1)',
      //       data: [82, 63, 64, 52, 55, 40, 30, 43, 20, 60, 50, 47],
      //     }
      //   ]
      // };

    //   var piedata = [
    //     {
    //              value: 65,
    //              color:"#F7464A",
    //              highlight: "#FF5A5E",
    //              label: "New Scenarios"
    //          },
    //          {
    //              value: 297,
    //              color: "#46BFBD",
    //              highlight: "#5AD3D1",
    //              label: "Responses Submitted"
    //          },
    //          {
    //              value: 225,
    //              color: "#64a789",
    //              highlight: "#5AD3D1",
    //              label: "Responses Graded"
    //          }
    //
    //      ];
    // // };

      // var myChart = new Chart(ctx, {
      //   type: 'bar',
      //   data: data,
      //   options: {
      //     responsive: true,
      //   },
      // });

      // var myPie = new Chart(ctx2, {
      //   type: 'pie',
      //   data: piedata,
      //   options: {
      //     responsive: false,
      //     legend: {
      //       position: 'right'
      //     }
      //   },
      // });

      // Download chart as PDF functionality
      // Add event listener for button
      // document.getElementById('download-pdf').addEventListener("click", downloadPDF);
      //
      // function downloadPDF() {
      // 	var newCanvas = document.querySelector('#myChart');
      //
      //   // create image from new canvas send toDataURL
      // 	var newCanvasImg = newCanvas.toDataURL("image/png", 1.0);
      //
      //   // Generate a PDF using jsPDF .
      // 	var doc = new jsPDF('landscape');
      // 	doc.setFontSize(20);
      // 	doc.addImage(newCanvasImg, 'PNG', 10, 10, 280, 150 );
      // 	doc.save('new-canvas.pdf');
      //  }
      //
      //
      // // Button that adds dummy data (testing purposes)
      // function addData(){
      //   myChart.data.datasets[0].data.push(25);
      //   // myChart.data.datasets[1].data.push(60);
      //   myChart.data.datasets[2].data.push(40);
      //   // myChart.data.datasets[3].data.push(20);
      //   // myChart.data.datasets[4].data.push(30);
      //   // myChart.data.datasets[5].data.push(10);
      //   myChart.data.datasets[6].data.push(100);å
      //   // myChart.data.datasets[7].data.push(90);
      //   myChart.data.labels.push("Spanked");
      //   myChart.update();
      // }

      // Toggles the left nav bar to slide in and out (Currently removed on page due to complications with layout)
      function toggleNav(){
        console.log($('#dashboard-sidebar').hasClass('slideRight') )
        if($('#dashboard-sidebar').hasClass('slideRight') || $('#dashboard-sidebar').hasClass('defaultPos')) {
          if($('#dashboard-sidebar').hasClass('defaultPos')) {
            document.getElementById('dashboard-sidebar').classList.remove('defaultPos');
            console.log('default removed')
          }
          document.getElementById('dashboard-sidebar').classList.remove('slideRight');
          document.getElementById('dashboard-main').classList.remove('slideRight');
          document.getElementById('dashboard-sidebar').classList.add('slideLeft');
          document.getElementById('dashboard-main').classList.add('slideLeft');
          console.log('slide left')
        } else {
          document.getElementById('dashboard-sidebar').classList.remove('slideLeft');
          document.getElementById('dashboard-main').classList.remove('slideLeft');
          document.getElementById('dashboard-sidebar').classList.add('slideRight');
          document.getElementById('dashboard-main').classList.add('slideRight');
          console.log('slide right')
        }
      };
      </script>

      </div>
    </div>
