<!DOCTYPE html>
<html>
<head>
  <title>CBS</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'https://use.fontawesome.com/releases/v5.4.2/css/all.css' %>
  <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Montserrat:400, 700' %>

  <%= javascript_include_tag 'https://js.braintreegateway.com/web/3.6.3/js/client.min.js' %>
  <%= javascript_include_tag 'https://js.braintreegateway.com/web/3.6.3/js/hosted-fields.min.js' %>
  <% if params[:controller] == "audio" %>
    <%= javascript_include_tag 'http://code.jquery.com/jquery-2.1.4.min.js' %>
  <% else %>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.3.1.js' %>
  <% end %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js' %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js' %>
  <%= javascript_include_tag 'http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', 'data-turbolinks-track': 'reload' %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav class="customnav navbar navbar-expand-lg navbar-dark sticky-top bg-white border-bottom border-muted">
    <a class="navbar-brand text-dark" href="/"><i class="fas fa-dice-d20 mr-1"></i>R<strong>app</strong>ort.io</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">

        <%= form_with url: search_companies_path, local: true, class:'form-inline my-2 my-lg-0' , :method => 'post', id: "search-companies"  do |form| %>
          <%= form.text_field :searchcompany, class: "form-control mr-sm-2", list: 'list' %>
          <%= form.submit "search", class:"btn btn-outline-success my-2 my-sm-0" %>
          <datalist id="list"></datalist>
        <% end %> 

      <div>
        <ul class="navbar-nav mr-auto">
          <% if signed_in? -%>
            <% if signed_in? && current_user.position == 'manager'  && current_user.company_id == nil%>
            <li class="nav-item">
              <%= link_to "Add Company", new_company_path, class: "nav-link mr-3" %>
            </li>
            <% end %>
          <li class="nav-item">
            <%= link_to "Profile", user_path(current_user.id), class: "nav-link mr-3" %>
          </li>
           <li class="nav-item btn-group" data-behavior='notifications'>
              <a class="dropdown-toggle nav-link" type="button" data-behavior='notifications-link' id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Notifs
              </a>
              <span data-behavior='unread-count'></span>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" data-behavior="notification-items">
          </li>
          <li class="nav-item">
            <%= link_to "Audio Analysis", index_path, class: "nav-link mr-3" %>
          </li>
          <li class="nav-item">
            <%= link_to "Video", user_video_path(current_user.id), class: "nav-link  mr-3" %>
          </li>
          <li class="nav-item">
            <%= link_to "Text", text_analyze_path(current_user.id), class: "nav-link mr-3" %>
          </li>
          <% if current_user.company_id != nil %>
            <li class="nav-item">
              <%= link_to "Company Home", company_path(current_user.company_id), class: "nav-link mr-3" %>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to "Dashboard", dashboard_path, class: "nav-link mr-3" %>
          </li>
          <li class="nav-item">
            <%= link_to t(".sign_out"), sign_out_path, method: :delete, class:"nav-link" %>
            <% else -%>
            <%= link_to t(".sign_in"), sign_in_path, class:"nav-link" %>
            <% end -%>
          </li>
        </ul>
      </div>

    </div>
  </nav>

  <div id="flash">
    <% flash.each do |key, value| -%>
    <div class="container mx-auto">
      <div class="<%= flash_class(key) %> mt-3 text-center" id="flash_<%= key %>"><%= h value %></div>
    </div>
    <% end %>
  </div>

   <script>
$(document).on('turbolinks:load', function(){

$("#search-companies").on("keyup", function(){
  autocomplete()
});

function autocomplete(){
  $.ajax({
    url: '/companies/search',
    type: 'POST',
    data: $("#search-companies").serialize(), 
    dataType: 'json', 
    error: function() {
        console.log("Something went wrong");
    },
    success: function(data) {
      document.getElementById('list').innerHTML = '';
      $("#list").empty();

      var uniquedata = [];
      $.each(data, function(i, el){
          if($.inArray(el, uniquedata) === -1) uniquedata.push(el);
      });

      uniquedata.forEach(function(element) {
        var option = document.createElement("option");
        option.value = element;
        //append option to list
        $("#list").append(option);
      });
    }
  });
}
})
</script> 
    <%= yield %>


</body>
</html>
