<!DOCTYPE html>
<html>
<head>
  <title>CBS</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'https://use.fontawesome.com/releases/v5.4.2/css/all.css' %>
  <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Montserrat:400, 700' %>

  <%= javascript_include_tag 'https://js.braintreegateway.com/web/3.6.3/js/client.min.js' %>
  <%= javascript_include_tag 'https://js.braintreegateway.com/web/3.6.3/js/hosted-fields.min.js' %>
  <%= javascript_include_tag 'http://code.jquery.com/jquery-2.1.4.min.js' %>
  <%#= javascript_include_tag 'https://code.jquery.com/jquery-3.3.1.js' %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js' %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js' %>
  <%= javascript_include_tag 'http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', 'data-turbolinks-track': 'reload' %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav class="customnav navbar navbar-expand-lg navbar-dark sticky-top bg-white border-bottom border-muted">
    <a class="navbar-brand text-dark" href="/"><i class="fas fa-dice-d20 mr-1"></i>R<strong>app</strong>ort.io</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">

      <form class="form-inline my-2 my-lg-0">
        <input id="main-search" class="form-control mr-sm-2 border border-secondary" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
      </form>

      <div>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "Profile", user_path(current_user.id), class: "nav-link mr-3" %>
          </li>
          <li class="nav-item">
            <%= link_to "Audio Analysis", index_path, class: "nav-link mr-3" %>
          </li>
          <li class="nav-item">
            <%= link_to "Video", video_feature_path, class: "nav-link  mr-3" %>
          </li>
          <li class="nav-item">
            <%= link_to "Text", index_path, class: "nav-link mr-3" %>
          </li>
          <li class="nav-item">
            <%= link_to "Dashboard", dashboard_path, class: "nav-link mr-3" %>
          </li>
          <li class="nav-item">
            <% if signed_in? -%>
            <%= link_to t(".sign_out"), sign_out_path, method: :delete, class:"nav-link" %>
            <% else -%>
            <%= link_to t(".sign_in"), sign_in_path, class:"nav-link" %>
            <% end -%>
          </li>
        </ul>
      </div>

    </div>
  </nav>

  <div id="flash">
    <% flash.each do |key, value| -%>
    <div class="container mx-auto">
      <div class="<%= flash_class(key) %> mt-3 text-center" id="flash_<%= key %>"><%= h value %></div>
    </div>
    <% end %>
  </div>

  <!-- <div class="container-fluid pl-5 pr-5"> -->
    <%= yield %>
  <!-- </div> -->

</body>
</html>
